{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Quienes Somos
{% endblock title %}

{% block contenido1 %}

<link href="{% static 'css/botate.css' %}" rel="stylesheet">


  <div class="post-parallax parallax inverse-wrapper parallax1" style="background-image: url({% static 'img/art/parallax1.jpg' %});">
    <div class="container inner text-center">
      <div class="headline text-center">
        <h2>BOOTATETV</h2>
        <p class="lead">una agencia de medios de comunicación creativa que cree en el poder de las ideas creativas y un gran diseño</p>
      </div>
      <!-- /.headline --> 
    </div>
    <!--/.container --> 
  </div>
  <!--/.parallax --> 
  
  <div class="dark-wrapper">
    <div class="container inner">
      <h3 class="section-title text-center">Quienes Somos</h3>
      <div class="row grid-view">
        <div class="col-sm-3 text-center">
          <figure><img src="{% static 'img/art/direcQ.jpg' %}" alt="" /></figure>
          <h4 class="post-title">Javier Hernandez</h4>
          <div class="meta">Art Director</div>
          
        </div>
        <!-- /column -->
        <div class="col-sm-3 text-center">
          <figure><img src="{% static 'img/art/fotografoQ.jpg' %}" alt="" /></figure>
          <h4 class="post-title">Javier Hernandez</h4>
          <div class="meta">Photographer</div>
          
        </div>
        <!-- /column -->
        <div class="col-sm-3 text-center">
          <figure><img src="{% static 'img/art/modeloQ.jpg' %}" alt="" /></figure>
          <h4 class="post-title">Elsie Spear</h4>
          <div class="meta">Modeling</div>
          
        </div>
        <!-- /column -->
        <div class="col-sm-3 text-center">
          <figure><img src="{% static 'img/art/videogra.jpg' %}" alt="" /></figure>
          <h4 class="post-title">Barclay Widerski</h4>
          <div class="meta">Videographer</div>
          
        </div>
        <!-- /column --> 
      </div>
      <!--/.row --> 
    </div>
    <!--/.container --> 
  </div>
  <!-- /.dark-wrapper -->
  
  <div class="light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-5">
          <figure><img src="{% static 'img/art/thecompany.jpg' %}" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="col-sm-7">
          <h3 class="section-title">Sobre la empresa</h3>
          <p class="text_about"> BOOTATETV se constituyó en Loja el 24 de septiembre de 2012, con el objetivo de colaborar en el desarrollo del sector audiovisual de Loja. Desde su creación, BOOTATETV apostó por la investigación y aplicación tecnológica en la elaboración, comercialización y distribución de produstos audiovisuales.</p>
          <div class="small-quote">
            <blockquote>
              <p class="text_about"> La gestión de medios audiovisuales, la producción creativa, la formación profesional y la diversificación empresarial han caracterizado su ejercicio.</p>
            </blockquote>
          </div>
          <p class="text_about">La integración de todos sus servicios y departamentos, ofrecen actualmente la oportunidad a BOOTATETV de abordar proyectos audiovisuales con capacidad de desarrollo y distribución transmedia, que lleguen a espectadores y usuarios de todos los soportes audiovisuales o narrativos.</p>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <div class="divide60"></div>
      <div class="row">
        <div class="col-sm-4">
          <h3>Nuestras Habilidades</h3>
          <p class="text_about">Excelente conocimiento de Fotografía, métodos y nuevas tecnologías de videos. Fuerte conocimiento y habilidad para usar variedad de cámaras y equipos, todos los formatos de video, editoras y conocimiento de iluminación.</p>
          <div class="divide10"></div>
          <ul class="progress-list">
            <li>
              <p>Photoshop <em>90%</em></p>
              <div class="progress plain">
                <div class="bar" data-width="90"></div>
              </div>
            </li>
            <li>
              <p>Final Cut <em>80%</em></p>
              <div class="progress plain">
                <div class="bar" data-width="80"></div>
              </div>
            </li>
            <li>
              <p>Studio Photography <em>85%</em></p>
              <div class="progress plain">
                <div class="bar" data-width="85"></div>
              </div>
            </li>
            <li>
              <p>Motion Video <em>75%</em></p>
              <div class="progress plain">
                <div class="bar" data-width="75"></div>
              </div>
            </li>
          </ul>
          <!-- /.progress-list --> 
        </div>
        <!--/column -->
        <div class="col-sm-4">
          <h3>Porque Elegirnos?</h3>
          <div class="divide5"></div>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle active" data-parent="#accordion" href="#collapseOne"> Fotografía Profesional </a> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body text_about">La Fotografía Profesional es una inversión para las empresas, no un gasto. Prueba de ello son los importantes presupuestos que muchas empresas destinan a producir fotografías de calidad de sus productos o servicios. Y lo hacen porque es una inversión rentable. Cada vez más empresas han descubierto que unas buenas fotografías les ayudan a vender más y a diferenciarse de su competencia.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseTwo"> Experiencia </a> </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body text_about"> Fotografía de modelos, dirección de videos extremos, documentales, cortometrajes y fotografía panorámica. Excelente conocimiento de fotografía, métodos y nuevas tecnologías de videos. Fuerte conocimiento y habilidad para utilizar variedad de cámaras y equipos, todos los formatos de video, editoras y conocimiento de iluminación. </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseThree"> Producción de videos </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div  class="panel-body text_about"> Porque además de Fotografía, como servicio complementario también realizamos producción de Videos Corporativos para que nuestros Clientes no tengan que contratar a empresas distintas, con la consiguiente ventaja a la hora de gestionar ambas producciones. </div>
              </div>
            </div>
          </div>
        </div>
        <!--/column -->
        <div class="col-sm-4">
          <h3>Servicios Destacados </h3>
          <div class="feature">
            <div class="icon"> <i class="budicon-camera-1 icn"></i> </div>
            <h4>Photography</h4>
            <p class="text_about">Diseño fotográfico & Habilidades en photo shoots en fotografía de estudio, dirección de fotografía de grupo</p>
          </div>
          <!--/.feature -->
          <div class="feature">
            <div class="icon"> <i class="budicon-video-1 icn"></i> </div>
            <h4>Motion Video</h4>
            <p class="text_about">Gran conocimiento de video digital, dirección de cortometrajes, todos los formatos de video. Editoras y conocimiento de iluminación.</p>
          </div>
          <!--/.feature -->
          <div class="feature">
            <div class="icon"> <i class="budicon-radio icn"></i> </div>
            <h4>Sound Design</h4>
            <p class="text_about">El diseño de sonido es una de las áreas más importantes en una producción audiovisual, la interacción entre audio y video debe complementarse de tal forma que el espectador logre involucrarse por completo.</p>
          </div>
          <!--/.feature --> 
          
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!--/.container --> 
  </div>
  <!-- /.light-wrapper -->
  
 <!--  <div class="dark-wrapper">
    <div class="container inner">
      <h3 class="section-title text-center">Recomendaciones de <strong>clientes</strong></h3>
      <div class="divide10"></div>
      <div class="testimonials2 small-quote">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="quote">
              <div class="icon text-center"> <img src="{% static 'img/art/about.jpg' %}" alt="" />
                <div class="author">
                  <h4 class="post-title">Connor Gibson</h4>
                  <span class="meta">Interface Designer</span> </div>
              </div>
              <div class="box">
                <blockquote>
                  <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus. </p>
                </blockquote>
              </div>
            </div>
            <!--/.quote --> 
          <!-- </div> --> 
          <!--/column -->
        <!--   <div class="col-sm-12 col-md-6">
            <div class="quote right">
              <div class="icon text-center"> <img src="{% static 'img/art/about.jpg' %}" alt="" />
                <div class="author">
                  <h4 class="post-title">Coriss Ambady</h4>
                  <span class="meta">Computer Engineer</span> </div> -->
                <!--/.author --> 
              <!-- </div> -->
              <!--/.icon -->
             <!--  <div class="box">
                <blockquote>
                  <p>Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. </p>
                </blockquote>
              </div>
            </div> -->
            <!--/.quote --> 
          <!-- </div> -->
          <!--/column --> 
        <!-- </div> -->
        <!--/.row -->
       <!--  <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="quote">
              <div class="icon text-center"> <img src="{% static 'img/art/about.jpg' %}" alt="" />
                <div class="author">
                  <h4 class="post-title">Nikola Brooten</h4>
                  <span class="meta">Sales Manager</span> </div>
                <!--/.author --> 
              <!-- </div> --> 
              <!--/.icon -->
         <!--      <div class="box">
                <blockquote>
                  <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula.</p>
                <!-- </blockquote> --> 
              <!-- </div> -->
            <!-- </div> -->
            <!--/.quote --> 
          <!-- </div> -->
          <!--/column -->
    <!--       <div class="col-sm-12 col-md-6">
            <div class="quote right">
              <div class="icon text-center"> <img src="{% static 'img/art/about.jpg' %}" alt="" />
                <div class="author">
                  <h4 class="post-title">Barclay Widerski</h4>
                  <span class="meta">Marketing Specialist</span> </div>
                <!--/.author --> 
              <!-- </div> -->
              <!--/.icon -->
             <!--  <div class="box">
                <blockquote>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis.</p>
                </blockquote>
              </div> -->
            <!-- </div> -->
            <!--/.quote --> 
          <!-- </div> -->
          <!--/column --> 
        <!-- </div> -->
        <!--/.row --> 
      <!-- </div> -->
      <!--/.testimonials --> 
    <!-- </div> -->
    <!--/.container --> 
  <!-- </div> --> 
  <!--/.dark-wrapper -->
  
  <div class="light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <h2>Instagram</h2>
          <p class="text_about">Washington Hernández Toledo. Ecuadorian American Filmmaker and Photographer. My nickname is BOOTATE.</p>
          <div class="divide10"></div>
          <a href="https://www.instagram.com/bootatefilms/" class="btn btn-icon"><i class="icon-s-instagram"></i> Instagram Page</a> </div>
        <!--/column -->
        <div class="col-sm-8 col-md-9">
          <div class="image-grid col5">
            <div class="items-wrapper">
              <div id="instafeed" class="isotope items" data-limit="5"></div>
              
              <!--/.isotope --> 
            </div>
            <!--/.items-wrapper --> 
          </div>
          <!--/.image-grid --> 
        </div>
        <!--/column --> 
      </div>
      <!--/.row --> 
    </div>
    <!--/.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  
  
</main>
<!--/.body-wrapper --> 

</body>
</html>


{% endblock %}