<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Proyecto Tesis">
<meta name="author" content="Jorge Freire">
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
<title>{% block title %} TITULO BASE {% endblock %}</title>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins.css' %}" rel="stylesheet">
<link href="{% static 'css/color/brown.css' %}" rel="stylesheet">
<link href="{% static 'css/color/blue.css' %}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="{% static 'css/type/icons.css' %}" rel="stylesheet">


</head>
<body>
<div id="preloader"><div class="textload">Loading</div><div id="status"><div class="spinner"></div></div></div> 
<main class="body-wrapper">
  <nav class="navbar">
    <div class="navbar-header">
      <div class="basic-wrapper"> 
        <div class="navbar-brand"> <a href="index.html"><img src="#" srcset="{% static 'css/img/logo.png 1x' %}, style/images/logo@2x.png 2x" class="logo-light" alt="" /><img src="#" srcset="style/images/logo-dark.png 1x, style/images/logo-dark@2x.png 2x" class="logo-dark" alt="" /></a> </div>
        <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
      </div>
      <!-- /.basic-wrapper -->  
    </div>
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="current dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Inicio <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html">Default Layout</a></li>
            <li><a href="index2.html">Home with AJAX Gallery</a></li>
            <li><a href="index3.html">Home with Onepage Gallery</a></li>
            <li><a href="index4.html">Home with Slide Portfolio</a></li>
            <li><a href="index5.html">Home with Grid Blog 1</a></li>
            <li><a href="index6.html">Home with Grid Blog 2</a></li>
            <li><a href="index7.html">Home with Magazine 1</a></li>
            <li><a href="index8.html">Home with Magazine 2</a></li>
            <li><a href="onepage.html">Onepage Layout</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Quienes Somos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="about2.html">Transparent</a></li>
            <li><a href="index5.html">Light Solid</a></li>
            <li><a href="index6.html">Dark Solid</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Servicios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="portfolio.html">Mosaic Portfolio</a></li>
            <li><a href="portfolio2.html">Mosaic Portfolio w/ Lightbox</a></li>
            <li><a href="portfolio3.html">AJAX Gallery</a></li>
            <li><a href="portfolio4.html">Onepage Gallery</a></li>
            <li><a href="portfolio5.html">Slide Portfolio</a></li>
            <li><a href="portfolio-post.html">Post with Carousel</a></li>
            <li><a href="portfolio-post2.html">Post with Images</a></li>
            <li><a href="portfolio-post3.html">Post with Video</a></li>
            <li><a href="portfolio-post4.html">Post with Slider</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Proformas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="blog.html">Grid Blog</a></li>
            <li><a href="blog2.html">Grid Blog with Sidebar</a></li> 
            <li><a href="blog3.html">Magazine</a></li>
            <li><a href="blog4.html">Magazine No Sidebar</a></li>
            <li><a href="blog-post.html">Blog Post</a></li>
            <li><a href="blog-post2.html">Blog Post No Sidebar</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">REservaciones <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="about.html">About 1</a></li>
            <li><a href="about2.html">About 2</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact 1</a></li>
            <li><a href="contact2.html">Contact 2</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Contactos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="elements.html">Elements</a></li>
            <li><a href="headings.html">Headings</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="social.html">Social Feeds</a></li>
            <li><a href="disqus.html">Disqus</a></li>
            <li><a href="icon-budicon.html">Budicon Icons</a></li>
            <li><a href="icon-fontello.html">Fontello Icons</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.navbar-nav --> 
    </div>
    <!-- /.navbar-collapse -->
    <div class="social-wrapper">
      <ul class="social naked">
        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
        <li><a href="#"><i class="icon-s-flickr"></i></a></li>
        <li><a href="#"><i class="icon-s-instagram"></i></a></li>
      </ul>
      <!-- /.social --> 
    </div>
    <!-- /.social-wrapper --> 
  </nav>
  <!-- /.navbar -->
{% block contenido1 %}
{% endblock %}

{% block contenido2 %}
{% endblock %}

{% block contenido3 %}
{% endblock %}

{% block contenido4 %}
{% endblock %}

{% block contenido5 %}
{% endblock %}

{% block contenido6 %}
{% endblock %}

{% block footer %}
 <footer class="footer inverse-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-4">
          <div class="widget">
            <h3 class="widget-title">Popular Posts</h3>
            <ul class="post-list">
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="{% static 'images/art/a1.jpg' %}" alt="" /> </a> </div>
                <div class="meta">
                  <h5><a href="blog-post.html">Magna Mollis Ultricies</a></h5>
                  <em><span class="date">3th Oct 2012</span> <span class="comments"><a href="#"><i class="icon-chat-1"></i> 8</a></span></em> </div>
              </li>
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="{% static 'images/art/a2.jpg' %}" alt="" /> </a> </div>
                <div class="meta">
                  <h5><a href="blog-post.html">Ornare Nullam Risus Tellus Elit Fusce Inceptos Etiam</a></h5>
                  <em><span class="date">28th Sep 2012</span> <span class="comments"><a href="#"><i class="icon-chat-1"></i> 5</a></span></em> </div>
              </li>
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="{% static 'images/art/a3.jpg' %}" alt="" /> </a> </div>
                <div class="meta">
                  <h5><a href="blog-post.html">Euismod Nullam</a></h5>
                  <em><span class="date">15th Aug 2012</span> <span class="comments"><a href="#"><i class="icon-chat-1"></i> 9</a></span></em> </div>
              </li>
            </ul>
            <!-- /.post-list --> 
          </div>
          <!-- /.widget --> 
        </div>
        <!-- /column -->
        
        <div class="col-sm-4">
          <div class="widget">
            <h4 class="widget-title">Tags</h4>
            <ul class="tag-list">
              <li><a href="#" class="btn">Web</a></li>
              <li><a href="#" class="btn">Photography</a></li>
              <li><a href="#" class="btn">Illustation</a></li>
              <li><a href="#" class="btn">Fun</a></li>
              <li><a href="#" class="btn">Blog</a></li>
              <li><a href="#" class="btn">Commercial</a></li>
              <li><a href="#" class="btn">Journal</a></li>
              <li><a href="#" class="btn">Nature</a></li>
              <li><a href="#" class="btn">Still Life</a></li>
            </ul>
          </div>
          <!-- /.widget -->
          
          <div class="widget">
            <h4 class="widget-title">Elsewhere</h4>
            <ul class="social">
              <li><a href="#"><i class="icon-s-rss"></i></a></li>
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
            </ul>
            <!-- .social --> 
            
          </div>
        </div>
        <!-- /column -->
        
        <div class="col-sm-4">
          <div class="widget">
            <h4 class="widget-title">Search</h4>
            <form class="searchform" method="get">
              <input type="text" id="s2" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Search something'">
              <button type="submit" class="btn btn-default">Find</button>
            </form>
          </div>
          <!-- /.widget -->
          <div class="widget">
            <h4 class="widget-title">Get In Touch</h4>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <div class="contact-info"> <i class="icon-location"></i> Moonshine St. 14/05 Light City <br />
              <i class="icon-phone"></i>+00 (123) 456 78 90 <br />
              <i class="icon-mail"></i> <a href="first.last@email.com">first.last@email.com</a> </div>
          </div>
          <!-- /.widget --> 
          
        </div>
        <!-- /column --> 
        
      </div>
      <!-- /.row --> 
    </div>
    <!-- .container -->
    
    <div class="sub-footer">
      <div class="container inner">
        <p class="text-center">© 2015 Lydia. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.</p>
      </div>
      <!-- .container --> 
    </div>
    <!-- .sub-footer --> 
  </footer>
  <!-- /footer --> 
  {% endblock %}
  
</main>
<script src="{% static 'js/jquery.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/plugins.js' %}"></script> 
<script src="{% static 'js/classie.js' %}"></script> 
<script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script> 
<script src="{% static 'js/scripts.js' %}"></script>
<!--/.body-wrapper --> 
</body>
</html>